! Overall Font Definition
*.font: Inconsolata Nerd Font:pixelsize=12:antialias=true:autohint=true;

! Exported from Terminal.Sexy
! Modified from collection/hybrid by W0ng

! special
*.foreground:   #cbc4ba
*.background:   #211f1d
*.cursorColor:  #cbc4ba

! black
*.color0:       #282724
*.color8:       #3c3b37

! red
*.color1:       #a54242
*.color9:       #cc6666

! green
*.color2:       #9f7b2b
*.color10:      #b5bd68

! yellow
*.color3:       #de935f
*.color11:      #f0c674

! blue
*.color4:       #5f819d
*.color12:      #81a2be

! magenta
*.color5:       #85678f
*.color13:      #b294bb

! cyan
*.color6:       #638d87
*.color14:      #8abeb7

! white
*.color7:       #707880
*.color15:      #c5c8c6

! dmenu items
!dmenu.font: Inconsolata Nerd Font:pixelsize=12:antialias=true:autohint=true;
!dmenu.background: #121212
!dmenu.foreground: #a2a2a2
dmenu.selbackground: #555555
dmenu.selforeground: #9e5e83

